<h1>Films</h1>

    <% @films.each do |film| %>
      <tr>
        <td>
          <% if film.image.attached? %>
            <%= image_tag film.image, height: '500' %> <!-- Modifica le dimensioni come preferisci -->
          <% else %>
            No Image <!-- Mostra questo se non c'è un'immagine -->
          <% end %>
        <td><%= film.title %></td>
        <td><%= film.year %></td>
        <td><%= film.category %></td>
        <td><%= film.score %></td>
        <td><%= film.status %></td>
        <td><%= film.director %></td>
         <%= link_to 'View', film_path(film) %> <!-- Link alla pagina show di ogni film -->
        <!-- altri dettagli del film -->
    <% end %>
