<h1>Films</h1>

<div class="films-grid">
  <% @films.each do |film| %>
    <div class="film">
      <div class="film-image">
        <% if film.poster.present? %>
          <%= image_tag film.poster, alt: film.title, height: '150' %> <!-- Dimensioni ridotte per la griglia -->
        <% else %>
          No Poster Available
        <% end %>
      </div>

      <div class="film-details">
        <h2><%= film.title %></h2>
        <p><strong>Year:</strong> <%= film.year %></p>
        <p><strong>Category:</strong> <%= film.category %></p>
        <p><strong>Score:</strong> <%= film.score %></p>
        <p><strong>Status:</strong> <%= film.status %></p>
        <p><strong>Director:</strong> <%= film.director %></p>
        <p><strong>Cast:</strong> <%= film.actors %></p>
        <%= link_to 'View', film_path(film), class: 'view-button' %> <!-- Stilizzato come un pulsante -->
      </div>
    </div>
  <% end %>
</div>
