<h1>New Film</h1>

<%= form_with(model: @film, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :trailer %>
    <%= form.url_field :trailer %>
  </div>

  <div class="field">
    <%= form.label :poster %>
    <%= form.url_field :poster %>
  </div>

  <div class="actions">
    <%= form.submit "Create Film" %>
  </div>
<% end %>
