<div class="film-show">
  <h1><%= @film.title %></h1>

  <% if @film.poster.present? %>
    <div class="film-poster">
      <%= image_tag @film.poster, alt: @film.title, class: 'poster' %>
    </div>
  <% else %>
    <p>No poster available.</p>
  <% end %>

  <div class="film-details">
    <p><strong>Year:</strong> <%= @film.year %></p>
    <p><strong>Category:</strong> <%= @film.category %></p>
    <p><strong>Director:</strong> <%= @film.director %></p>
    <p><strong>Cast:</strong> <%= @film.actors %></p>
    <p><strong>Description:</strong> <%= @film.description %></p>
    <p><strong>Streaming:</strong></p> <%= @film.trailer %>
  </div>

  <%= link_to 'Back to Films', films_path, class: 'back-link' %>
</div>
